code.sourceCode {
  color: #cfcfc2;
}

code.sourceCode span.al {
  color: #95da4c;
  background: #4d1f24;
  font-weight: 700;
}

code.sourceCode span.an,
code.sourceCode span.co {
  color: #7a7c7d;
}

code.sourceCode span.at,
code.sourceCode span.dt,
code.sourceCode span.re {
  color: #2980b9;
}

code.sourceCode span.bn,
code.sourceCode span.dv,
code.sourceCode span.fl {
  color: #f67400;
}

code.sourceCode span.bu,
code.sourceCode span.cv {
  color: #7f8c8d;
}

code.sourceCode span.cf {
  color: #fdbc4b;
  font-weight: 700;
}

code.sourceCode span.ch,
code.sourceCode span.sc {
  color: #3daee9;
}

code.sourceCode span.cn,
code.sourceCode span.va {
  color: #27aeae;
}

code.sourceCode span.do {
  color: #a43340;
}

code.sourceCode span.er,
code.sourceCode span.ss,
code.sourceCode span.vs,
code.sourceCode span.wa {
  color: #da4453;
}

code.sourceCode span.er {
  text-decoration: underline;
}

code.sourceCode span.ex {
  color: #0099ff;
  font-weight: 700;
}

code.sourceCode span.fu {
  color: #8e44ad;
}

code.sourceCode span.im,
code.sourceCode span.ot,
code.sourceCode span.pp {
  color: #27ae60;
}

code.sourceCode span.in {
  color: #c45b00;
}

code.sourceCode span.kw {
  color: #cfcfc2;
  font-weight: 700;
}

code.sourceCode span.st {
  color: #f44f4f;
}
